{% include 'link.html' %}

<nav class="row bg-primary ">
    <div class="col-6">
        <div class="row">
            <div class="col-2">
                <div><a href="/admin_home" class="nav-link">ADMIN</a></div>

            </div>
            <div class="col-2">
                <div><a href="/view_owner" class="nav-link">OWNER</a></div>

            </div>
            <div class="col-3">
                 <div><a href="/rental_values" class="nav-link">RENTAL VALUE</a></div>

            </div>
            <div class="col-3">
                <div><a href="/home_values" class="nav-link">HOME VALUE</a></div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-8"></div>

            <div class="col-2"></div>
            <div class="col-2">
                <div><a href="/logout" class="nav-link">LOGOUT</a></div>
        </div>
        </div>
    </div>






</nav>