{% include 'head.html'%}

<body class="bg-admin4">

<div>
    <div class="row">
        <div class="col-7"></div>
        <div class="col-3">
            <div class="card mt-170 p-20">
                <form action="owner_login_action" method="post">
                    <div class="title text-center">Owner Login</div>
                    <label for="email">Email</label>
                    <div class="form-group">

                        <input type="email" name="email" id="email" placeholder="Enter Email" required class="form-control">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope form-icon" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                        </svg>

                    </div>
                    <label for="password">Password</label>
                    <div class="form-group">

                        <input type="password" name="password" id="password" placeholder="Enter Password" required class="form-control">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill form-icon" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                        </svg>
                    </div>

                    <div>
                        <input type="submit" class= " btn mt-20 mb-20 btn-primary btn-primary:hover" value="Login">
                    </div>
                    <div> New owner?<a href="owner_registration">click here register</a></div>
                </form>

            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>