{% include 'ohead.html' %}
<body class="bg-admin2">
<html>
<head>
    <title>Power BI Dashboard</title>
    <style>
        iframe {
            width: 100%;
            height: 600px;
            border: none;
        }
    </style>
</head>
<body>
    <iframe title="Market_heat_index" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMGExMTA1MzQtMTdmMi00NTgxLTg2Y2QtZmNjMjZlMjUzNjZmIiwidCI6IjdhZmI5ZTIyLTkzMDgtNDE4Ni04ZTI5LWVhMjMxZmYzYmFmNyIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>