{% include 'uhead.html' %}
{{rental_property_id}}
<body class="bg-admin2">
<div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card mt-130 p-20">
                <form action="view_request_action" method="post">
                    <div>
                        <input type="hidden" name="rental_property_id" id="rental_property_id" value="{{rental_property_id}}">
                    </div>
                    <div class="form-group">
                        <label for="summary">summary</label>
                       <textarea name="summary" id="summary" placeholder="Enter Summary" class="form-control" required></textarea>
                    </div>
                    <div class="mt-20">
                        <input type="submit" value="REQUEST" class="btn btn-primary">
                    </div>

                </form>

            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
